/* ===== General Layout ===== */
.root {
    -fx-background-color: linear-gradient(to bottom , #42a3a6, #4293a6);
}

.header {
    -fx-background-color: white;
    -fx-alignment: center-left; /* මෙක title එක උඩට නොයා මැදට යයි */
}


/* ===== Side Navigation ===== */
.sidebar {
    -fx-background-color: #13385f;
    -fx-background-radius: 20;
    -fx-padding: 20;
}



/* Hover effect එක */
.nav-button:hover {
    -fx-background-color: #AFC6F4; /* ටිකක් ගැඹුරු blue */
    -fx-cursor: hand;
}




/* ===== Dashboard Cards ===== */
.card {
    -fx-background-radius: 15;
    -fx-padding: 10;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: center;
}
.card-blue { -fx-background-color: #58a6ff; }
.card-orange { -fx-background-color: #d08c31; }
.card-green { -fx-background-color: #33bb7a; }
.card-purple { -fx-background-color: #a85df7; }

/* ===== Charts ===== */
.chart-container {
    -fx-background-color: #5ea6b6;
    -fx-background-radius: 20;
    -fx-padding: 10;
}
.chart-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #1a1a1a;
}




}
.Rectangle{
    -fx-background-color: white;


    -fx-border-color: #c8d6e5;
    -fx-border-width: 1;

    -profile-pic
        -fx-clip: circle(25px at right right); /* clip to circle shape */
        -fx-border-radius: 25;
        -fx-background-radius: 25;
}

.table-view {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: blue; /* ✅ text color */
}
.Label {
    font-family: "Poppins", sans-serif;

}

